
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      <img src="./assets/img/brand/red.png" class="navbar-brand-img" alt="...">
    </div>
  </div>
  <div class="feedback-form">
    <form>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <textarea class="form-control" id="feedback" rows="3" placeholder="Write your feedback here ..."></textarea>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-success">Submit</button>
    </form>
  </div>

</div>
